/******************************************************************************/
/* elements */
/******************************************************************************/
/* general layout */
body { position: relative; text-align: center; z-index: 0; background: #fafafa url(../images/body-bg.png) top left repeat; }
.wrapper { position: relative; text-align: left; margin: 0 auto; padding: 0 10px; width: 780px; }

/* typography */
body { font: 16px/24px "ff-meta-web-pro-1","ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; color: #444; margin: 0px;}
h1, h2, h3, h4, h5, h6 { color: #222; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }


/*h1 { font-size: 22px; line-height: 36px; margin-bottom: 40px; }*/
/*h2 { font-size: 20px; line-height: 28px; margin-bottom: 10px; }*/
/*h3 { font-size: 18px; line-height: 24px; margin-bottom: 10px; }*/
/*h4, h5, h6 { font-size: 16px; line-height: 20px; margin-bottom: 10px; }*/

a, a:visited {
    color: #444;
}
a:hover {
    text-decoration: underline;
    color: #111;
}
img {
    border: 0;
}
h1 {
    margin: 0;
    font-size: 1.6em;
    font-weight: bold;}
h2 { font-size: 1.4em;}
h3 { font-size: 1.2em;}

.clearfix {clear:both; margin: 0px;}
.error, .danger {color:red;}

/******************************************************************************/
/* general */
/******************************************************************************/
.noborder{
    vertical-align: middle;
}
.hidden{
    display: none;
}

/******************************************************************************/
/* messages */
/******************************************************************************/
ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}
ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
width: 74%;
}
ul#messages li {
    padding: 5px 10px;
    background: #e1f2d1;
    border: 1px solid #89cc48;
}
ul#messages li a {
    float: right;
/*    color: #693;*/
color: #6da52b;
}

/******************************************************************************/
/* forms */
/******************************************************************************/

#body form  {
    margin-top:5%;
}

#body form table {
    width: 30%;
    margin-left:35%;
}
#body form p {
    width: 100%;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    float: left;
    font-size: 90%;
}

input[type="text"], input[type="password"], textarea {
    margin: 3px;
    color: #666;
    border: 1px solid #d1d1d1;
    padding: 2px 3px;
}

input[value="login"] {
	/*hack*/
	float:left !important;
	margin-left:58%;
}

input[type="submit"], input[type="button"],
button, .button {
  color: #666;
  float:right;
  font-weight: bold;
  font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background: #e6e6e6 url('../images/gradient.png') repeat-x bottom left;
  height: 47px;
  width: auto;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  border-image: initial;
}

input[type="submit"]:hover {
    background-color: #8ECC4C;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-color: #6B9939;
    border-bottom-color: #50732B;
}

/* form toggle */
.form-toggle {
    padding-bottom: 10px;
    width: 97%;
}
.form-toggle form {
    padding: 3px 6px;
    margin:10px;
    padding:20px;
    border: 6px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    background: rgba(0,0,0,0.02);
}

.middle_panel .form-toggle form {
    margin-left:50px;
}

.middle_panel .big input {
    height: 25px;
}

.form-toggle p {
    margin-bottom: 2px;
}

.form-toggle p.errorField {
    color:red;
    font-weight: bold;
    text-align:right;
}

.form-toggle p span {
    padding: 3px 6px;
    padding: 7px;
    font-weight: bold;
    border: 1px solid #ff5f10;
    color: white;
    padding: 3px 10px;
}

.form-toggle .submit-input-wrapper input {
   margin-top:10px;
   width: 30%;
   height: 50px;
   float: right;
   font-size:105%;
}

.uniForm .inlineLabels .formHint {
	font-size: 60%;
	float: left !important;
}

.uniForm label {
	text-align: left;
	font-weight: bold;
}

/******************************************************************************/
/* body */
/******************************************************************************/

div.right_panel {
    margin-top: 20px;
    float: right;
    z-index: 999;
    width: 25%;
    clear: both;
}

div.left_panel {
/*    width: 550px;*/
    width: 74%;
}
div.left_panel h1{
    width: 97%;
}
div.left_right h2{
}

/******************************************************************************/
/* footer */
/******************************************************************************/

.footer {
  font-size:60%;
  color: #333; /* footer text colour */
  background-color:#e1e1e1;
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0 0;
}

.footer a, .footer a:visited {
    color: #444; /* footer link colour */
}
.footer a:hover {
    color: #777; /* footer link hover colour */
}

#image_left {
    float:left;
    padding:0;
    margin:0;
    padding: 15px 0 0 0;
}

#image_right {
    float:right;
    padding:0;
    margin:0;
}

#powered_by{
    clear:both;
    margin-left: 30px;
    padding-top: 20px;
}

#powered_by2{
    clear:both;
/*    margin-left: 90px;*/
    margin-left: 40px;
padding-top: 10px;
padding-bottom: 10px;
}
#powered_by img{
    width:88px;
    height:15px;
padding: 0 10px;
}

#powered_by2 img{
    width:88px;
    height:15px;
padding: 0 10px;
}

/******************************************************************************/
/* tabhead */
/******************************************************************************/
#tabhead {
    width: 100%;
    height: 50px;
    background: url('../images/header-home-bg.png') left top repeat-x;
    color: white;
    margin-bottom: 0.5em;
}
/******************************************************************************/

#tabhead .logo {
    float:left;
    background: url('../images/200px-FoafLogo.svg.png') left top no-repeat;
    background-size: 68px 45px;
    width:260px;
    height:50px;
    padding-left:50px;
    margin-left:20px;
}

#tabhead .logo h2, #tabhead .logo a {
    font-size:110%;
    margin-top:0px;
    text-decoration: none;
    /*-webkit-margin-before:0px;*/
    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    padding-top:10px;
}

/******************************************************************************/
/* login */
#tabhead .login {
    color: #fff;
    float: right;
    width: 20%;
    position: relative;
    right: 10%;
    font-size: 80%;
}
#tabhead .login a, #tabhead .login a:visited {
    color: #DEF; /* login bar link colour */
    color: #999;
    text-decoration: none;
}

#tabhead .login a:hover {
    color: #FFF; /* login bar link hover colour */
    text-decoration: underline;
}

#tabhead .login p {
    float:right;
}

.login .col1, .login .col2, .login .col3{
    float: left;
}
.login .col1{
    width: 61%;
}
.login .col2{
    width: 18%;
    text-align: right;
}

.login .col2 b{
    margin-top: 2px;
}
.login .col3{
    width: 50px;
    float: right;
}
.avatar_login img{
    border: 1px solid #666;
    margin: 0 5px 0 5px;
}
.icon{
    border: 0;
    vertical-align: middle;
    margin-right: 4px;
    width: 12px;
    height: 12px;
}
#tabhead select{
    background: #3F4348;
    color: #999;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #666;
    margin-left: 5px;
}

/******************************************************************************/
/* search */
#search_box{
    float: right;
    margin-top: -10px;
    margin-right: 12px;
}
#search_box input[type="text"] {
    margin: 0;
    font-size: 11px;
    padding: 0;
    vertical-align: top;
    background: #3F4348;
    color: #999;
    border: 1px solid #666;
}
#search_box input[type="image"] {
    margin-left: 3px;
}
#search_box input[type="submit"] {
    border: 1px solid #666;
    background: #333;
    font-size: 11px;
}

/******************************************************************************/
/* subnav */
/******************************************************************************/
#subnav {
    margin: 0;
    padding: 0;
    clear: both;
    float: right;
    background: #dcf0ff;
    width: 25%;
}

#subnav_heading{
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    border: 1px solid #002a73;
    margin-bottom: 10px;
    color: #021736;
}
#subnav ul {
    margin: 0 20px;
    padding: 0;
    margin-left: 10px;
    padding-bottom: 10px;
}

#subnav ul li {
/*    display: inline;*/
    list-style-type: none;
}

#subnav ul a:link, #subnav ul a:visited {
    text-decoration: none;
    padding: 4px 10px;
    padding-left: 0;
    color: #2368af;
}

#subnav ul a:hover {
    text-decoration: underline;
}

/******************************************************************************/
/* actions */
/******************************************************************************/
.actions {
float: right;
margin-right: 10px;
}

.actions input[type="submit"]{
color: #d5890d;
border: none;
margin: 0;
padding: 0;
    background: none;
/*    float: right;*/
}
.actions img{
/*float: left;*/
}
input[type="submit"] img{
float: left;
}

/******************************************************************************/
/* items */
/******************************************************************************/
.items{
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    padding: 0 0 5px 0;
    /*border-bottom: 1px solid #d5890d;*/
    border-bottom: 2px solid #fcefbd;
}
.clear_both{
    clear: both;
}
.col_meta, .col_tease {
    float: left;
}
.col_meta {
    width: 15%;
    margin-top: 10px;
/*    padding: 0 0 10px 0;*/
}
.col_tease{
    width: 85%;
}
.details {
    font-size: 90%;
}
.date {
    font-style: italic;
    margin: 0 0 0 5px;
}
.author {
    font-weight: bold;
    margin: 0 0 0 5px;
}
.comment-count {
}
.tags{
    font-size: 90%;
}
.avatar {
  width: 100%;
}
.avatar img{
  padding: 2px;
  margin-right: 5px;
  background: #fff;
  border: 2px solid #fcefbd;
}
.col_vote{
    width: 8%;
    float: right;
}
.items h2 {
    border: none;
    margin: 0;
}
.items h2 a{
}



.row_heading{
    border-bottom: 2px solid #ccc;
    margin: 0;
    padding: 0;
}
.items h3{
    margin-bottom: 5px;
}
.col_bulk, .col_title, .col_published, .col_status, .col_edit, .col_delete {
    float: left;
}
.col_title{
    width: 70%;
}
.col_bulk {
    width: 70%;
}
.col_published{
    width: 14%;
}
.col_status{
    width: 10%;
}
.col_edit, .col_delete{
    width: 3%;
}


.col_comment, .col_version{
float: left;
}
.col_comment{
width: 60%;
}
.col_version{
width: 15%;
}



.col_data{
float: left;
width: 30%;
}


.url {
    color: #666;
    font-size: 90%;
    font-style: italic;
}

.item {
}
.meta {
width: 100%;
float: left;
}
.item .details {
width: 80%;
float: left;
}


.form_comment{
clear: both;
}



/******************************************************************************/
/* home page */
/******************************************************************************/

#home-header {
    background: url('../images/header-home-bg.png') left top repeat-x;
    color: white;
    height: auto;
    padding-bottom:6em;
    padding-top:1em;
}

#home-header h1 {float:left; text-align: left;
    color:white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    padding-top:0.5em;
    width:80%;
    padding-top:18px;
}

#home-header p.tagline {
   float:left;
   color: #BCC1C3;
   text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
   margin-top:0px;
   -webkit-margin-before:0em;
   margin-bottom:0.5em;
}


#home-logo {
    margin-left:56px;
    margin-top:10px;
    float:left;
    background: url('../images/200px-FoafLogo.svg.png') left top no-repeat;
    background-size: 85px 60px;
    width:50px;
    height:60px;
    padding-left:50px;
}

.home-header-buttons {
  position: absolute;
  top: 35px;
  right: 80px;
  width: 180px;
}


.home-header-buttons a.reg {
  color: white;
  display: block;
  padding: 10px 20px;
  background: #7C8F99 url(../images/gradient-light.png) bottom left repeat-x;
  font-weight: bold;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.7);
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.home-header-buttons a.reg:hover {
  background-color: #8ECC4C;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-color: #6B9939;
  border-bottom-color: #50732B;
}

.home-header-buttons .log-box {
  margin-top: -9px;
}
.home-header-buttons p {
  font-size: 80%;
  -webkit-margin-before:0px;
}

.home-header-buttons .login {
  font-weight: bold;
  color: #E3E3E3;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.5);
}

#semantic-machine {
    float:right;
    margin-top:10%;
    margin-right:50px;
    background: url('../images/bipolarc.gif') left top no-repeat;
    height:300px;
    width:360px;
    vertical-align:top;
    position:relative;
}

#home-content {float:left; width:100%;}
#home-content .left {float:left; width:45%; padding-left:5%; padding-top:3%;}
#home-content .right {float:right; width:45%; position:relative; right:20px;}

/**********************************************/
/* certs */
.certcard {
  border: solid 5px grey;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 8px;
}

.fingerprints {
    background: url('../images/fingerprint-small.png') left top no-repeat;
    padding-left: 70px;
}
