/* GENERAL TAB STYLING */

#tabhead .right_tab td {
    vertical-align: bottom;
    padding-right: 0; /* space between tabs */
    padding-bottom: 1px; /* must be same thickness as tab border */
}
#tabhead .tabs {
    position: absolute;
    bottom: -1px; /* must be same thickness as tab border */
    left: 210px; /* based on width and padding of logo */
}
#tabhead .tabs td {
    vertical-align: bottom;
    padding-right: 0; /* space between tabs */
    padding-bottom: 1px; /* must be same thickness as tab border */
}
#tabhead .tab a, #tabhead .tab a:visited {
    text-decoration: none;
    color: white;
}
#tabhead .tab a:hover {
    text-decoration: underline;
}
#tabhead .tab div {
    padding: 0;
    margin: 0 1px; /* to compensate for border */
    padding-top: 6px;
    padding-bottom: 6px;
}

#tabhead .tab div a {
    padding: 7px 14px 6px 14px;
    font-size: 11px;
}
#tabhead .tab div .disabled a, #tabhead .tab div.disabled a:visited {
    padding: 7px 9px 6px 14px;
color: #999999;
font-size: 10px;
}
#tabhead .right_tab {
    /* must be same thickness as tab border */
    clear: both;
    float: left;
}
#tabhead .right_tab ul{
    display: inline;
    background: transparent;
}
#tabhead .right_tab ul li{
    display: inline;
    list-style-type: none;
    float: left;
    background: transparent;
}
