{% extends "django_webid/provider/base.html" %}

{% load i18n %}
{% load uni_form_tags %}


{% block head_title %}{% blocktrans %}WebID Cert Details{% endblocktrans %}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}

{% comment %}
{% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li id="message_{{ forloop.counter }}">{{message}}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endcomment %}
<style>
.small { font-size: 80% }
</style>

<div class="middle_panel">
<script type="text/javascript">
$(document).ready(function() {
// replace me with RDFa selector when available
 //$('*[property="modulus"].*[datatype="xsd:hexBinary"]').each(function(index, element) {
 $('.hexlify').each(function(index, element) {
  var digitsPerLine = 32;
  var separator = ":";
  var textIn = $(element).text();
  var textOut = new String();

  for(var i=0; i<textIn.length; i+=2) {
   textOut = ((i%digitsPerLine)==0 && i!=0) ? textOut=textOut+"\n" : textOut;
   textOut = ((i%digitsPerLine)==0) ? textOut+textIn.substr(i, 2) : textOut+separator+textIn.substr(i,2);
  }

  $(element).text(textOut);
  });
});
</script>

    <h1>{% trans "WebID Certificate Details" %}</h1>
    {% if not object.pubkey.is_active %}
    <h2 class="error">The Public Key contained on this Certificate has been revoked. You cannot use it for login anywhere.</h2>
    {% endif %}
    {% if object.comment %}
    <p><b>comment</b>: {{ object.comment }}</p>
    {% endif %}
    {% if object.user_agent_string %}
    <p><b>installed on browser</b>: {{ object.user_agent_string }}</p>
    {% endif %}

    <h3>Fingerprints:</h3>
    <div class="fingerprints">
    <p><b>sha1</b>: <pre><span class="small">{{ object.fingerprint_sha1 }}</span></pre></p>
    {% comment %}
	should split this too; but must remove : first
    {% endcomment %}
    <p><b>sha256</b>:</p> <pre><span class="small">{{ object.fingerprint_sha256 }}</span></pre>
    <p><b>md5</b>: <pre><span class="small">{{object.fingerprint_md5 }}</span></pre></p>
    </div>
    <h3>Validity:</h3>
    <p><b>Valid From</b>: {{object.valid_from}}</p>
    <p><b>Valid Until</b>: {{object.expires}}</p>

    <h2>Public Key on this Certificate</h2>
    <p><b>Bits</b>: {{object.pubkey.bits}}</p>
    <p><b>Modulus</b>:</p> 
	<pre><span class="hexlify">{{object.pubkey.mod}}</span></pre>
    <p><b>Exponent</b>: <pre>{{object.pubkey.exp}}</pre></p>

    {% if object.pubkey.is_active %}
    <div class="cert_revoke_link">
	    <a class="danger" href="{% url webidprovider-cert-revoke cert_id=object.id %}">Revoke this cert</a>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block extra_body %}
{% endblock %}

